@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Navigation Buttons */
/* .custom-next,
.custom-prev {
  display: none;
  background-color: #852169;
  color: hsl(0, 0%, 100%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  transform: translateY(-50%);
} */

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0px;
  opacity: 0;
  visibility: hidden;
  display: none;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}